.home {
    width: 100vw;
    height: calc(100vh - 78.03px);
    .content{
        .tree{
            min-height: 400px;
            max-height: 500px;
            height: 80vh;
            position: absolute;
            bottom: 0;
            right: 0;
        }
        .text-container {
            position: absolute;
            top: 30vh;
            left: 25px;
            max-width: 700px;
            .text-content{
                font-size: 70px;
                font-weight: bold;
                text-shadow: 1px 2px rgb(255, 255, 255);

            }
            .text-child-content{
                display: inline-block;
                margin-left: 5px;
                font-size: 25px;
            }
        }
    }
}
.green {
    color: green;
    font-weight: bold;
}